@model RPA.Web.PersonaDomicilio

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este registro de forma permanente?</h3>
<div>
    <h4>Domicilio de Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDomicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDomicilio.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
